<!-- #WSJ Font Start -->
<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6575976/7810992/css/fonts.css" />
<!-- #WSJ Font End -->
<!-- #VIR Font Start -->
<script src="//use.typekit.net/lhj6tis.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<link rel="stylesheet" href="https://use.typekit.net/hca8eaa.css"/>
<!-- #VIR Font End -->